{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "not ie <= 10", "ie 11", "chrome >= 49"]
      },
      "useBuiltIns": true,
      "debug": false
    }]
  ]
}
